/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

.bigred {
	font-size: 20px;
	color: red;
}

/*_____________________*/

header {
	min-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 42px 70px;
	text-align: center;
	h1 {
		font-family: BebasNeueBold;
		font-size: 60px;
		line-height: 70px;
		color: #ffffff;
	}
	span {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
	}
	.scroll {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 11px;
		line-height: 15px;
		color: #ffffff;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	height: 65px;
	max-width: 938px;
	align-items: center;
	margin: auto;
	li {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		color: #48555b;
	}
	a li {
		&:hover {
			color: #00a4e5;
		}
	}

	.navbar li {
		display: inline-flex;
		justify-content: space-between;
		margin-left: 48px;
	}
}
.border {
	border-bottom: 1px solid #e6e6e6;
}

.about {
	max-width: 941px;

	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 58px;

	.content {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		@media (max-width: 700px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	h2 {
		text-align: center;
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 50px;
			height: 2px;
			border: 2px solid #00a4e5;
			left: 447px;
			bottom: -10px;
		}
	}
	.text {
		display: flex;
		flex-direction: column;

		text-align: left;
		.founded {
			font-family: Open Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 27px;
			span {
				color: #00a4e5;
			}
		}
		.lorem {
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 23px;
		}
	}
	.img {
		display: flex;
		@media (max-width: 500px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.img1,
		.img2,
		.img3 {
			padding-left: 20px;
			position: relative;
			span {
				position: absolute;
				font-family: Open Sans;
				font-style: normal;
				font-weight: 800;
				font-size: 24px;
				line-height: 29px;
				color: #ffffff;
				width: 76px;
				height: 58px;
				left: 39px;
				top: 15px;
			}
		}
	}
}

.services {
	display: flex;
	flex-direction: column;
	max-width: 941px;
	margin: auto;
	margin-top: 120px;

	.services__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 78px;
		@media (max-width: 700px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.h2 {
			font-family: Open Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				border: 2px solid #00a4e5;
				width: 50px;
				height: 2px;
				left: 0px;
				top: 34px;
			}
		}
		.text {
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 11px;
			line-height: 19px;
		}
		button {
			background-color: #00a4e5;
			width: 150px;
			height: 40px;
			font-family: Open Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 13px;
			line-height: 18px;
			color: #ffffff;
		}
	}
	.services__bot {
		display: flex;
		justify-content: space-between;
		@media (max-width: 700px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.management,
		.maintenance,
		.modeling {
			width: 295px;
			border: 1px solid #e6e6e6;
			span.name1 {
				display: inline-block;
				font-family: Open Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
				margin-left: 23px;
			}
			span.name2 {
				display: inline-block;
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 23px;
				margin: 13px 22px 39px 23px;
			}
			img {
				margin: 38px 206.38px 25px 23px;
			}
		}
	}
}

.get-in-touch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(../images/bg1.png);
	height: 498px;
	text-align: center;
	.text {
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 36px;
	}
	button {
		background-color: #00a4e5;
		width: 150px;
		height: 40px;
		margin-top: 35px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 18px;
		color: #ffffff;
	}
}
.signu {
	display: flex;
	background-color: #171819;
	height: 100px;
	align-items: center;
	justify-content: center;
	input {
		width: 250px;
		height: 40px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		padding-left: 10px;
	}
	button {
		width: 150px;
		height: 40px;
		background-color: #00a4e5;
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 18px;
		color: #ffffff;
	}
	span {
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 30px;
		color: #ffffff;
		margin-right: 70px;
	}
}
footer {
	background-color: #141a20;
	.footer_head {
		display: flex;
		justify-content: space-between;
		max-width: 941px;
		margin: auto;
		margin-bottom: 50px;
		@media (max-width: 1000px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.camany {
			p {
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 11px;
				line-height: 19px;
				color: #ffffff;
			}
			span {
				display: block;
				margin-top: 42px;
				font-family: Open Sans;
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 11px;
				line-height: 15px;
				color: #ffffff;
			}
		}
		.links {
			display: flex;
			flex-direction: column;
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 11px;
			line-height: 15px;
			color: #ffffff;
			span {
				margin-top: 42px;
			}
			.list {
				display: flex;
				li a {
					margin-right: 25px;
					font-family: Open Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 11px;
					line-height: 25px;
					color: #ffffff;
				}
			}
		}
	}
	.contact_us {
		margin-top: 42px;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		line-height: 16px;
		color: #ffffff;
	}
	.logoty {
		margin-top: 67px;
	}
	.footer_bot {
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		line-height: 15px;
		color: #ffffff;
		height: 60px;
		background-color: #171819;
		text-align: center;
		padding-top: 25px;
	}
}
